@page
@model IndexModel

<h1>ScrimManager</h1>
<p>Kies waar je naartoe wilt:</p>

<ul>
    <li><a asp-page="/Tournaments">Toernooien</a></li>
    <li><a asp-page="/Scrims">Scrims</a></li>
    <li><a asp-page="/Replays">Replays</a></li>
</ul>
